*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.contain{
    width:100vw;
    height:100vh;
    position: relative;
    background:rgb(12, 146, 255);
    overflow: hidden;
}
.sea{
    position:absolute;
    width:100%;
    height:50%;
    bottom: 0%;
    perspective: 40px;
    display: grid;
    place-items:center;
    border-radius:20%;
}
.seaUnder{
    width:100%;
    border-radius:20%;
    height:100%;
    position:absolute;
    bottom:0%;
    transform:rotateX(9deg);
    background:linear-gradient(to bottom ,rgb(0, 153, 255),blue );
}
.name{
    position:absolute;
    font-size:15vmin;
    color:white;
    z-index: 5;
    top:3%;
}
.name::before{
    content:"Hello There";
    position:absolute;
    width: 100%;
    height: 100%;
    color:rgba(255, 255, 255, 0.466);
    transform:rotateX(180deg);
    top:65%;
}

.navBar{
    height:8%;
    width:100%;
    background:white;
   
    z-index: 4;
    position: fixed;
    top:0%;
    display:flex;
    justify-content: flex-end;
    place-items:center;
    padding:0vmin 5vmin 0vmin 3vmin;
}
.navBar >a{
    color:black;
    text-decoration:none;
    font-size:3vmin;
    margin:1vmin;
    font-weight:500;
}
.head{
    font-size: 4vmin;
    font-weight: bold;
    position: absolute;
    left:5%;
    text-transform:capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.firstBall{
    width:25vmin;
    height:25vmin;
    border-radius:50%;
    background:radial-gradient(circle at 60% 70%,#2d72d7 30%,rgb(0, 153, 255));
    position:absolute;
    left:5%;
    top:25vmin;
    animation:ball 4s ease-in-out infinite;
    box-shadow: -.3vmin -.3vmin .3vmin black inset,
    .4vmin .4vmin .4vmin black;
}
@keyframes ball{
    0%{
        transform:translateY(0%)
    }
    50%{
        transform:translateY(30%);
    }
    100%{
        transform:translateY(0%)
    }
}
.secondBall{
    width:15vmin;
    height:15vmin;
    border-radius:50%;
    background:radial-gradient(circle at 60% 70%,#2d72d7 30%,rgb(0, 153, 255));
    position:absolute;
    right:5%;
    top:25vmin;
    animation:ball 4s ease-in-out infinite;
    box-shadow: -.3vmin -.3vmin .3vmin black inset;
}

.contain1{
    width: 100vw;
    height:100vh;
    background:linear-gradient(to bottom,rgb(250, 98, 98),rgb(255, 41, 41));
    margin-top:5vmin;
    display:grid;place-items:center;;
}

.table{
    width:90%;
    height:90%;
    border:1px solid black;
}
table,tr,th,td{
    border:1px solid white;
    border-collapse: collapse;
    text-align: center;
    font-size: 3vmin;
    color:white;
}
td{
    background:rgb(49, 48, 48);
}
tbody > tr >th{
    text-align:center;
    font-size: 4vmin;
    color:white;
    background:crimson;
}
tbody > tr > td> a{
    text-decoration: underline;
    color:white;
}

 tbody:hover{
    background:wheat;
    color:black;
}

.contain2{
    width:100vw;
    position:relative;
    height:100vh;
    background:black;
    display: grid;
    place-items:center;
}

.headOfContact{
    color:lime;;
    font-size: 5vmin;
    position:absolute;
    top:2%;
    width: 100%;
    text-decoration: underline overline wavy;
    text-align:center;
    text-transform:uppercase;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#previous,#next{
    width:5vmin;
    height:5vmin;
    border-radius:50%;
    background:white;
    color:black;
    outline:none;
    border:none;
}
#previous{
    position: absolute;
    left:5%;
    top:50%;
}
#next{
    position:absolute;
    right:5%;
    top:50%;
}
.scene{
    width:60vmin;
    height:60vmin;
   
    position:absolute;
    perspective: 1300px;
    border-radius:2vmin;
    overflow:hidden;
}
.card{
    width: 100%;
    height:100%;
    position:absolute;
    transform-style:preserve-3d;
    transition: all 400ms linear;;
    
}
.cards{
    width:100%;
    height:100%;
    position:absolute;
    display: grid;
    place-items:center;
    color:white;
    backface-visibility: hidden;
    border-radius: 2vmin;
}
.front{
    transform:rotateY(0deg)translateZ(22vmin);
    background:orange;
   
}
.left{
    transform: rotateY(-90deg)translateZ(22vmin);
    background:orchid;
}
.right{
    transform:rotateY(90deg)translateZ(22vmin);
    background:palegreen;
  
}
.back{
    transform:rotateY(180deg)translateZ(22vmin);
    background:pink;
}

.cards > a{
width: 100%;
height:100%;
position:absolute;
display: grid;
place-items: center;
text-decoration: none;
}
.cards >a>i{
   
    font-size: 25vmin;
}

@media only screen and (max-width:550px){
    .cards{
        width:100%;
        height:100%;
        position:absolute;
        display: grid;
        place-items:center;
        color:white;
        backface-visibility: hidden;
        border-radius: 2vmin;
    }
    .front{
        transform:rotateY(0deg)translateZ(22vmin);
        background:orange;
       
    }
    .left{
        transform: rotateY(-90deg)translateZ(22vmin);
        background:orchid;
    }
    .right{
        transform:rotateY(90deg)translateZ(22vmin);
        background:palegreen;
      
    }
    .back{
        transform:rotateY(180deg)translateZ(22vmin);
        background:pink;
    }
    
    .cards > a{
    width: 100%;
    height:100%;
    position:absolute;
    display: grid;
    place-items: center;
    text-decoration: none;
    }
    .cards >a>i{
       
        font-size: 25vmin;
    } 
}